# Dependencies
node_modules
.pnp
.pnp.js

# Local ENV files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Distribution directories
dist/
.next
out
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Unlighthouse folder
.unlighthouse/

# Testing
/coverage

# Cypress specific folders
test-results
cypress/screenshots
cypress/videos
cypress.env.json


# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# Vercel
.vercel

# Turborepo
.turbo
